<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-calendar [markedDates]="markedDates" (dateClicked)="onDateClicked($event)"></app-calendar>

<!-- Display Sleep Data for Selected Date -->
<div *ngIf="selectedDateLogs.length > 0">
  <h2>Sleep Data for {{ selectedDateLogs[0]?.dateString() }}</h2>
  <ion-list *ngFor="let log of selectedDateLogs">
    <ion-item>
      <ion-label>
        <p class="duration">{{ log?.summaryString() }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
  <!-- Buttons for Logging Overnight Sleep and Sleepiness -->
  <div class="log-buttons">
    <ion-button expand="full" (click)="logAction('overnight-sleep')">Log Overnight Sleep</ion-button>
    <ion-button expand="full" (click)="logAction('sleepiness')">Log Sleepiness</ion-button>
  </div>
</ion-content>
