:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#htvideo {
  width: 100%; /* or set a specific width */
  height: auto; /* Adjust height accordingly */
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.date {
  font-size: 18px;
  font-weight: bold;
}

.duration {
  font-size: 16px;
  margin-top: 5px;
}

ion-content {
  padding: 20px;
  .calendar-section,
  .information-section,
  .log-buttons-section,
  .gestures-section {
    border: 1px #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  border: 1px solid transparent;
}

.log-buttons {
  display: flex;
  justify-content: space-around;
}