<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-center">
      GestfulSleep
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- CALENDAR -->
  <div class="calendar-section">
    <app-calendar [markedDates]="markedDates" (dateClicked)="onDateClicked($event)" (monthChanged)="onMonthChanged($event)" #calendar></app-calendar>
  </div>

  <!-- INFORMATION -->
  <div class="information-section">
    <h2>{{ clickedDate.toDateString() }}</h2>
    <div *ngIf="selectedDateLogs.length > 0">
      <ion-list *ngFor="let log of selectedDateLogs">
        <ion-item>
          <ion-label>
            <p class="date">{{ log?.dateString() }}</p>
            <p class="duration">{{ log?.summaryString() }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <!-- Buttons for Logging Overnight Sleep and Sleepiness -->
  <div class="log-buttons-section">
    <ion-button expand="full" (click)="logAction('overnight-sleep')">Log Overnight Sleep</ion-button>
    <ion-button expand="full" (click)="logAction('sleepiness')">Log Sleepiness</ion-button>
  </div>

  <!-- GESTURES -->
  <div class="gestures-section">
    <div class="handtracker-container">
      <app-handtracker [isModalOpen]="isModalOpen" (onGestureDetected)="onGestureDetected($event)" #handtracker></app-handtracker>
      <div [innerHTML]="gesture"></div>
    </div>
  </div>
</ion-content>