:host {
    display: block;
    width: 100%;
}

.clicked-date {
  background-color: #3880ff; /* Change this to the color you prefer */
  color: #fff; /* Text color for better visibility, adjust as needed */
  border-radius: 50%; /* Optional: Add a border-radius for a circular look */
}

.today {
  border: 2px solid red; /* Red border for today's date */
  border-radius: 50%;
}

ion-grid {
    width: 100%;
    margin: auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.header-row {
    font-weight: bold;
    text-align: center;
}
  
.header-col,
.date-col {
    text-align: center;
    padding: 8px;
}

.date-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.today {
    background-color: var(--ion-color-primary);
    color: #fff;
}

.marked {
    border: 2px solid var(--ion-color-primary);
    border-radius: 50%;
}

.day {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:not(:last-child) {
    border-right: 1px solid #ddd;
  }
  &:not(:nth-child(-n+7)) {
    border-bottom: 1px solid #ddd;
  }

  .day-number {
    font-weight: bold;
  }

  &.today {
    background-color: red;
    color: #fff;
  }
}

.log-indicator {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: teal;
    border-radius: 50%;
    z-index: 1;
}

.transparent-button {
  background: transparent;
  border: none;
  color: var(--ion-color-primary);
}

.transparent-button:hover {
  background: transparent;
  color: var(--ion-color-secondary);
}
