<div class="container">
    <div class="video-container">
        <h4>Hand Gesture</h4>
        <video id="htvideo" #htvideo name="htvideo" class="videobox" autoplay="autoplay"></video>
        <div class="action-buttons">
            <button class="action-button" (click)="startDetection()">Start</button>
            <button class="action-button" (click)="stopDetection()">Stop</button>
        </div>
    </div>

    <div class="gesture-info-container">
        <h5>Gestures</h5>
        <p><strong>Open Hand:</strong> Log Overnight Sleep</p>
        <p><strong>Closed Hand:</strong> Cancel Log Overnight Sleep</p>
        <p><strong>Two Open Hands:</strong> Log Sleepiness</p>
        <p><strong>Two Closed Hands:</strong> Cancel Log Sleepiness</p>
        <p><strong>Pinching:</strong> Close Gesture Camera</p>
        <p><strong>Point Left:</strong> Navigate to Previous Month</p>
        <p><strong>Point Right:</strong> Navigate to Next Month</p>
    </div>
</div>